<!-- THEME CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="jumbotron text-center">
    <h1 class="display-3">Thank you, we received all of the information correctly!</h1>
    <hr>
    <p>
      Having trouble? <a href="index#contact">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="index" role="button">Continue to Homepage</a>
    </p>
  </div>
  <script>var plugin_path = 'assets/plugins/';</script>
  <%= javascript_include_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'scripts', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
    
</style>